@model List<CarDatingSite.Models.CatProfile>
@{
    ViewBag.Title = "Home Page";
}
<!-- kad vēlamies izsaukt c# kodu, lietojam at simbolu -->


<div class="row">
    <div class="col-md-4">
        <p>
            Esi sveicināts kaķu bildītēs un kaķu blogā
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>



